<!doctype html>
<html xmlns:ng='http://angularjs.org' ng:app>
<head>
    <title>Setter for Catan</title>
    <link rel='stylesheet' href='../stylesheets/setter-for-catan.css' type='text/css' />

    <script type='text/javascript' src='../lib/angular.min.js' ng:autobind></script>
    <script type='text/javascript' src='../lib/underscore-min.js'></script>
    <script type='text/javascript' src='../controllers/setter-for-catan.js'></script>
</head>
<body>
<div ng:controller='SetterForCatanCtrl'>
    <select ng:model='board'>
        <option ng:repeat='board in boards'>{{board}}</option>
    </select>
    <br/>
    <br/>
    <div ng:repeat='row in _.range(0,{{rowCount}})'>
        <div class='hexagon-coordinate' id='({{row}},{{column}})' ng:repeat='column in _.range(0,{{columnCount}})'>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>